# Exercice 3

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/imdb/movie_metadata.csv")

### question 1.a

In [21]:
# Avec variables intermédiaires : 
mean_score_per_director = df.groupby("director_name").imdb_score.mean()
top10_director = mean_score_per_director.sort_values(ascending=False).head(10)
print(top10_director)

# En chaînant les méthodes
df.groupby("director_name")\
    .imdb_score.mean()\
    .sort_values(ascending=False)\
    .head(10)

director_name
John Blanchard      9.5
Mitchell Altieri    8.7
Sadyk Sher-Niyaz    8.7
Cary Bell           8.7
Mike Mayhall        8.6
Charles Chaplin     8.6
Majid Majidi        8.5
Ron Fricke          8.5
Damien Chazelle     8.5
Raja Menon          8.5
Name: imdb_score, dtype: float64

director_name
John Blanchard      9.5
Mitchell Altieri    8.7
Sadyk Sher-Niyaz    8.7
Cary Bell           8.7
Mike Mayhall        8.6
Charles Chaplin     8.6
Majid Majidi        8.5
Ron Fricke          8.5
Damien Chazelle     8.5
Raja Menon          8.5
Name: imdb_score, dtype: float64

### question 1.b

In [22]:
# En chaînant les méthodes
df.groupby("country")\
    .imdb_score.mean()\
    .sort_values(ascending=False)\
    .head(10)

country
Kyrgyzstan              8.700000
Libya                   8.400000
United Arab Emirates    8.200000
Egypt                   8.100000
Soviet Union            8.100000
Iran                    7.725000
Poland                  7.620000
Indonesia               7.600000
Israel                  7.525000
Sweden                  7.516667
Name: imdb_score, dtype: float64

### question 2.a

In [ ]:
genres_set = {  
    genre
    for genres_piped in df['genres'].unique()
    for genre in genres_piped.split('|')
}

for genre in genres_set:
    df[genre] = df["genres"].map(lambda genres_piped: genre in genres_piped)

### question 2.b

In [23]:
df[genres_set].sum()

/var/folders/yf/7zryq8v115v8hjpz3_522bvm0000gn/T/ipykernel_995/1320274750.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df[genres_set].sum()

Drama          2594
Crime           889
Biography       293
Romance        1107
Sport           182
Western          97
Game-Show         1
Sci-Fi          616
News              3
War             213
Action         1153
Comedy         1872
Adventure       923
Animation       242
Short             5
Horror          565
History         207
Music           326
Fantasy         610
Family          546
Thriller       1411
Mystery         500
Musical         132
Documentary     121
Reality-TV        2
Film-Noir         6
dtype: int64

### question 2.c

In [24]:
genre_pear_year = df.groupby('title_year')[list(genres_set)].sum()
(genre_pear_year.loc[2010] - genre_pear_year.loc[2000]) / genre_pear_year.loc[2000]

Drama          0.303371
Crime         -0.166667
Biography      0.571429
Romance        0.409091
Sport         -0.444444
Western        0.500000
Game-Show           NaN
Sci-Fi         0.105263
News                NaN
War            2.500000
Action         0.647059
Comedy         0.266667
Adventure      0.193548
Animation      0.300000
Short               NaN
Horror         0.625000
History        2.500000
Music         -0.166667
Fantasy        0.894737
Family         0.789474
Thriller       0.276596
Mystery        0.285714
Musical        1.000000
Documentary    2.500000
Reality-TV          NaN
Film-Noir           NaN
dtype: float64

### question 2.d

In [13]:
# Pour stocker la série avec en index les noms des genres
# et en valeurs les evolutions : (Nouveau - Ancien) / Ancien
evolutions = []
# Pour stocker les nouveaux indexes avec les noms des deux années
indexes = []
# Permet de gérer le cas d'initialisation 
# dans la boucle où les anciens ne sont pas pas encore lus une première fois
old_row = None
old_index = None

# On itère sur la DataFrame
# .iterrows() lève l'index et la ligne (=row)
for new_index, new_row in genre_pear_year.iterrows():
    # Premier passage dans la boucle
    if old_row is None:
        pass
    # Après le premier passage dans la boucle
    else:
        # On stocke l'index avec le nom des deux années
        indexes.append(f"{int(old_index)}-{int(new_index)}")
        
        # On calcule l'evolution
        evolution = (new_row - old_row) / old_row
        evolutions.append(evolution)
        
    # on update les valeurs de l'ancienne ligne avec celle qu'on vient de lire
    old_row = new_row
    old_index = new_index
    
    
# On créer une DataFrame en utilisant le constructeur DataFrame
# (sur une liste de Series)
# pandas gère tout seul le cas où il manquerait des noms de colonne, 
# car il a dans chaque le série de la liste évolution le nom des colonnes ! :)
pd.DataFrame(evolutions, index=indexes)

/var/folders/yf/7zryq8v115v8hjpz3_522bvm0000gn/T/ipykernel_995/954270245.py:9: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df[genres_set].sum()

,Drama,Crime,Biography,Romance,Sport,Western,Game-Show,Sci-Fi,News,War,...,History,Music,Fantasy,Family,Thriller,Mystery,Musical,Documentary,Reality-TV,Film-Noir
1916-1920,0.000000,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,...,-1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1920-1925,0.000000,-1.000000,NaN,inf,NaN,NaN,NaN,NaN,NaN,inf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1925-1927,0.000000,NaN,NaN,-1.000000,NaN,NaN,NaN,inf,NaN,-1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1927-1929,0.000000,inf,NaN,inf,NaN,NaN,NaN,-1.000000,NaN,NaN,...,NaN,inf,NaN,NaN,NaN,NaN,inf,NaN,NaN,NaN
1929-1930,0.000000,-1.000000,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN,inf,...,NaN,-1.000000,NaN,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-2012,-0.120370,0.172414,-0.250000,0.135135,-0.166667,-0.500,NaN,0.115385,NaN,-0.375000,...,-0.333333,0.090909,0.363636,-0.230769,-0.029851,-0.291667,-0.200000,0.000000,NaN,NaN
2012-2013,0.273684,0.205882,0.888889,-0.190476,0.200000,-0.500,NaN,0.034483,inf,-0.200000,...,-0.166667,0.166667,0.033333,0.250000,0.046154,-0.235294,0.250000,0.250000,NaN,NaN
2013-2014,0.082645,-0.048780,0.411765,0.000000,0.166667,3.000,NaN,0.100000,0.0,1.750000,...,0.600000,0.214286,-0.096774,-0.040000,0.176471,1.153846,0.400000,0.100000,NaN,NaN
2014-2015,-0.198473,-0.076923,-0.250000,-0.205882,0.285714,1.000,NaN,0.121212,-1.0,-0.818182,...,0.625000,-0.411765,-0.178571,0.208333,-0.037500,-0.035714,-0.714286,-0.454545,NaN,NaN
2015-2016,-0.580952,-0.722222,-0.500000,-0.592593,-0.444444,-0.875,NaN,-0.486486,NaN,1.000000,...,-0.461538,-0.800000,-0.347826,-0.586207,-0.636364,-0.592593,-0.500000,-1.000000,NaN,NaN

### question 3.

In [25]:
# Compute budget per min
df["budget_per_min"] = df["budget"] / df["duration"]

# Sort according to this value
df = df.sort_values("budget_per_min", ascending=False)

# 10% of the rows with the biggest value for `budget_per_min`
n_rows = int(0.10 * len(df))
df_top10_cost = df.head(n_rows)
movie_title_top10 = df_top10_cost["movie_title"].tolist()

df["top10_cost"] = df["movie_title"].map(
    lambda movie_title: movie_title in movie_title_top10
)

df_top10_actors = df[df["top10_cost"]][["actor_1_name", "actor_2_name", "actor_3_name"]]
top10_actors = {
    actor
    for actor_column in df_top10_actors.columns
    for actor in df_top10_actors[actor_column].tolist()    
}